module.exports =  {
    
    mongodb: {
	ds_config_empty : { 
	    active: "mongodb",
	    mongodb: {}
	},

	ds_config_with_host_and_test : { 
	    active: "mongodb",
	    mongodb: {
		db: "test",
		server: {
		    host: "mongo-01",
		}
	    }
	},

	ds_config_with_host_and_port_test : { 
	    active: "mongodb",
	    mongodb: {
		db: "test",
		server: {
		    host: "mongo-01",
		    port: 27027
		}
	    }
	}
    },
    nedb: {
	ds_config_empty : { 
	    active: "nedb",
	    nedb: {}
	},
	
	ds_config_no_data_dir: {
	    active: "nedb",
	    nedb: {
		directory: "/non/existing/directory/somewhere/in/the/cloud"
	    }
	},
	
	// Set during test-runtime using before();
	ds_config_with_data_dir: {
	    active: "nedb",
	    nedb: {
		directory: ""
	    }
	},

	ds_config_with_data_dir_no_content: {
	    active: "nedb",
	    nedb: {
		directory: "/"
	    }
	},
	// set this to a proper directory that you are allowed to write to
	tmpdir: "/tmp"
    }
};
