<div id="page-header" class="page-header">
  <div id="nav-desktop" class="pill-nav">
    <div class="nav nav-pills navbar-nav">
      <ul class="nav nav-pills">
	<li class=""><a href="/">Home</a></li>

	<li class="" ><a href="/users">For Users</a></li>

	<li class="" ><a href="/data">For Data Analysts</a></li>

	<li class="" ><a href="/development">For Developers</a></li>
      </ul>
    </div>
  </div>

  <div id="nav-small" class="pill-nav">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle btn-xs collapsed" data-toggle="collapse" data-target="#nav-small-links">
	Menu
      </button>
      <h3>Boomerang Express</h3>
    </div>
    <div class="collapse navbar-collapse" id="nav-small-links">
      <ul class="nav navbar-nav">
	<li class=""><a href="/">Home</a></li>

	<li class="" ><a href="/users">For Users</a></li>

	<li class="" ><a href="/data">For Data Analysts</a></li>

	<li class="" ><a href="/development">For Developers</a></li>
      </ul>
    </div>
  </div>

  <img src="/assets/img/icons/favicon.png" class="narrow-only">
  <a href="/"><h1> Boomerang Express</h1></a> <small>The Scalable Web-Analytics Plattform</small>
</div>
