{
    "server": {
	"listeners" : [
	    {
		"protocol" : "http",
		"port" : "4001",
		"listen" : "0.0.0.0"
	    }
	],
	"static_path": "./public"
    },
    "datastore" : {
	"active" : "nedb",
	"nedb" : {
	    "directory": "./data",
	    "inMemoryOnly" : true,
	    "autoload": false
	}
    },
    "security" : {
	"user": "travis",
	"group"	: "travis"
    },
    "filter": {
	"anyonymize" : true,
	"blacklist": [],
        "dnt": false,
        "key": "boomerang-express"
    },
    "log": {
	"datastore" : {
	    "level" : "trace"
	},
	"filter" : {
	    "level" : "trace"
	},
	"application" : {
	    "level" : "trace"
	},
	"web" : {
	    "level" : "trace"
	}
    }
}
